@mixin extension($extension, $icon-code) {
  &:not(.not-set) {
    &[data-file-extension="#{$extension}"] {
      &:after {
        font-family:     "jvwp";
        font-style:      normal;
        font-weight:     normal;
        speak:           none;
        display:         inline-block;
        text-decoration: inherit;
        width:           1em;
        text-align:      center;
        font-variant:    normal;
        text-transform:  none;
        line-height:     1em;
        content:         $icon-code;
        position:        absolute;
        top:             50%;
        left:            50%;
        transform:       translate(-50%, -50%);
        font-size:       20px;
        color:           #aaa;
        margin:          0;
      }
    }
  }
}

@mixin file-thumbnail {
  @include extension('pdf', '\e800');
}

.jvwp-media-uploader, .jvwp-file-uploader {
  border:        1px solid #ddd;
  box-shadow:    rgba(0, 0, 0, 0.0666667) 0 1px 2px 0;
  border-radius: 2px;
  padding:       8px;
  margin:        12px 0;
  height:        50px;
  position:      relative;
  background:    white;
  div.labels {
    position:    absolute;
    left:        50px;
    top:         50%;
    margin-left: 18px;
    transform:   translateY(-50%);
    span {
      display: block;
    }
    span.label {
      font-weight: bold;
    }
  }
  .thumbnail {
    float:           left;
    width:           50px;
    height:          50px;
    background:      no-repeat center;
    background-size: contain;
    border-radius:   2px;
    position:        relative;
    &.not-set {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.icon-file-thumbnail {
      @include file-thumbnail;
    }
  }
  &:not(.set):hover {
    background: #ecf2f4;
    cursor:     pointer;
  }
  ul.actions {
    margin:    0;
    position:  absolute;
    top:       50%;
    right:     14px;
    transform: translateY(-50%);
    li {
      margin-bottom: 0;
      display:       inline-block;
      cursor:        pointer;
      i.icon-cancel:before {
      }
    }
  }
}